 body{
    background:rgba(202, 157, 149, 0.9);
    font-family:'Karla', sans-serif;
    }
    header {
      text-align: center;
      background: url('https://i.imgur.com/X3mr2Lw.jpg');
      background-size:cover;
      color: white;
    }
    a {
      color: rgba(255, 255, 225, 1);
      text-decoration:none;
      font-size:20px;
      
    }
    a:hover{
      color:rgb(120, 88, 32);
      }
    
    h1 {
     color:rgba(222, 56, 27, 0.9);
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(222, 56, 27, 0.8);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      
    }
    button{
      background:rgb(146, 26, 26);
      color:white;
      }
      button:hover{
        background:blue;
        }
        
        .main{
          
          }
      
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
        
      }
      li {
        padding: 5px;
        display: block;
      }
    }